
section {
    padding: 12px;
}
.t {
    display: flex;
    justify-content: space-between;
    align-items: center ;

}

.tr {
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}
.tr h5 {
    font-size: 20px;
    line-height: 30px;
    align-items: right;
    color: #1C1C28;
    font-family: "Poppins", serif;

}
.btn1 {
    background-color: #48B29A;
    color: white;
    padding: 6px 16px;
    transition: all 0.5s;
}
.btn1:hover {
    background-color: #F8F8F8;
    color: black;

}
.fa-ellipsis {
    transition: all 0.5s;
} 
.fa-ellipsis:hover {
    color: #3E97FF;
}
.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.mid h4 {
    font-size: 14px;
    line-height: 16.74px;
    text-align:center;
    color: #6B7280;
font-family: var(globalarf);
}
.mid p {
    font-size: 14px;
font-family: var(globalarf);
font-weight: 400;
text-align: center;
line-height: 16.74px;
color: #1C1C28;
}
.lin {
    position: relative;
    
}
@media screen and (min-width:768px) {
    .lin::after {
        content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 30px;
    height:0;
    border: 1px solid #DFDFDF;
    transform: rotate(90deg);
    background-color: #DFDFDF;
    } 
}
@media (min-width: 767px) and (max-width: 959px) {
    p ,h4,.truncated-text{
        font-size: 10px !important;
    }

}

.s {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s img  {
    border-radius: 200px;
    width: 100%;
}
.ss {
    width: 10%;
    margin-top: -12px;
    margin-left: 3px;
}


.sss {
    // width: 10%;
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: 32.31px;
    background: #F7F7F7;
    border: 0.26px solid #0000001A;
   
overflow: hidden;
}
.sss img {
    position: absolute;
    height: 15.75px;
width:14.7px ;  
  top: 2.95px;
    left: 0px;
    gap: 0px;
    border-radius: 1.58px 0px 0px 0px;
    opacity: 0px;
    
}
.tl {
    position: relative;
    
  }
  
  .menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-list {
    position: absolute;
    top: 18px;
    left: 15px;
    background: white;
    border: 1px solid #EAECF0;
    box-shadow: 0px 6px 12px 0px #ABBED14D;
    list-style: none;
    padding: 6px;
    min-width: 120px;
    z-index: 1000;
    gap: 2px;
    width: 123px;
    height: 95px;
  }
  
  .menu-list .lista {
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .menu-list .lista li {
    font-family: Neo Sans Arabic;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }

  .menu-list .lista span {
    width:20px;
height: 20px;
padding: 8px 0px 0px 0px;
gap: 8px;
opacity: 0px;

  }
  .menu-list .lista span .fa-strikethrough {
    color: #FF4B55;
    width: 16px;
height: 12.8px;
top: -0px;
gap: 0px;
opacity: 0px;

  }
  .menu-list .lista:hover {
    background: #f0f0f0;
  }


  .truncated-text {
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    direction: ltr;  
    text-align: right; 
    unicode-bidi: plaintext;
    font-size: 14px;
    color: #1c1c28;
    line-height:16.74px;
  }