<section>
<div class="cont ">
    <div class="row gy-4 gx-5 ">
        <div class="col-md-12">
            <div class="t">
    
                <div class="tl" >
                    <span role="button"><i class="fa-solid fa-ellipsis"></i></span>
                </div>
                <div class="tr">
                    <button class="btn btn1">قيد الإستخدام</button>
                    <h5>012345678910</h5>
                </div>
            </div>
            
        </div>
        <div class="col-md-3 ">
            <div class="mid">
                <h4>عدد الامتدادات</h4>
                <p> 09 </p>
            </div>
        </div>

        <div class="col-md-3 lin">
            <div class="mid">
                <h4>العملي الحالي</h4>
                <div class="s">
                    <p>الشركة الألمانية للإبادة </p>
                    <div class="sss"> <img src="./assets/logo" alt="علم الاردن"  class="w-100 "></div>

                </div>
            </div>
        </div>
        <div class="col-md-3 lin">
            <div class="mid">
                <h4>الدولة</h4>
<div class="s">
    <p>المملكة الأردنية الهاشمية </p>
    <div class="ss"> <img src="./assets/c79e3b37-e67c-4db3-9383-8bd58c5e2011.webp" alt="علم الاردن"  class="w-100 "></div>

</div>
            </div>
        </div>
        <div class="col-md-3 lin ">
            <div class="mid">
                <h4>اسم البروتوكول</h4>
                <p>فودافون مصر</p>
            </div>
        </div>
        
        <div class="col-md-3 ">
            <div class="mid">
                <h4>الرصيد المستخدم للرقم ككل</h4>
<p><bdi>ج.م</bdi>5000</p>            </div>
        </div>
        <div class="col-md-3 lin">
            <div class="mid">
                <h4>الرصيد المستخدم للعميل الحالي</h4>
<p><bdi>ج.م</bdi>5000</p>            </div>
        </div>
        <div class="col-md-3 lin">
            <div class="mid">
                <h4>الرصيد الحالي</h4>
<p><bdi>ج.م</bdi>5000</p>            </div>
        </div>
        <div class="col-md-3 lin ">
            <div class="mid">
                <h4>تاريخ آخر شحنة</h4>
<p>2024/12/29</p>          

</div>
        </div>
          
    </div>
</div>



</section>